propcache==0.3.2
truststore==0.10.1
shellingham==1.5.4
pkce==1.0.3
pycodestyle==2.14.0
arrow==1.3.0
python-engineio==4.12.2
CacheControl==0.14.3
uri-template==1.3.0
docstring_parser==0.17.0
conda_package_streaming==0.12.0
kubernetes==33.1.0
Werkzeug==3.1.1
rfc3339-validator==0.1.4
pydantic_core==2.33.2
pexpect==4.9.0
oauthlib==3.3.1
Pygments==2.19.1
fastapi==0.116.1
GitPython==3.1.45
tomli==2.2.1
fqdn==1.5.1
jupyter_core==5.8.1
cyclopts==3.24.0
traitlets==5.14.3
urllib3==2.5.0
charset-normalizer==3.4.3
puremagic==1.30
zstandard==0.23.0
anaconda-auth==0.8.6
pydub==0.25.1
nest_asyncio==1.6.0
markdownify==1.2.0
libtmux==0.39.0
pyarrow==21.0.0
build==1.3.0
ptyprocess==0.7.0
clr_loader==0.2.7.post0
grpcio==1.74.0
jaraco.classes==3.4.0
mdurl==0.1.0
aiohttp==3.12.15
isoduration==20.11.0
google-genai==1.36.0
conda==25.7.0
zope.interface==7.2
pytz==2025.2
crashtest==0.4.1
interviewoverfit==0.1.0
boltons==25.0.0
simple-websocket==1.1.0
gymnasium==1.2.0
toml==0.10.2
pyparsing==3.2.4
webencodings==0.5.1
colorama==0.4.6
google-cloud-bigquery==3.37.0
lxml==6.0.1
tinycss2==1.4.0
standard-chunk==3.13.0
jsonschema-specifications==2025.9.1
executing==2.2.1
anaconda-anon-usage==0.7.2
litellm==1.77.1
openhands-ai==0.56.0
mammoth==1.10.0
google-cloud-core==2.4.3
anyio==4.9.0
defusedxml==0.7.1
typer==0.9.0
semver==3.0.2
redis==6.4.0
openpyxl==3.1.5
pickleshare==0.7.5
whatthepatch==1.0.7
ipywidgets==8.1.7
attrs==25.3.0
boto3==1.40.30
tree-sitter-embedded-template==0.25.0
torch==2.8.0
tenacity==9.1.2
fonttools==4.59.2
ruamel.yaml.clib==0.2.12
contourpy==1.3.3
filelock==3.19.1
frozendict==2.4.2
Farama-Notifications==0.0.4
numpy==2.3.3
multidict==6.6.4
protobuf==5.29.5
PyNaCl==1.6.0
python-pptx==1.0.2
jedi==0.19.2
wandb==0.22.0
exceptiongroup==1.3.0
et_xmlfile==2.0.0
google-api-python-client==2.181.0
requests==2.32.4
keyring==25.6.0
googleapis-common-protos==1.70.0
tokenizers==0.22.0
annotated-types==0.6.0
s3transfer==0.14.0
libmambapy==2.0.5
PySocks==1.7.1
PyGithub==2.8.1
conda-anaconda-telemetry==0.3.0
jupyter_client==8.6.3
distlib==0.4.0
youtube-transcript-api==1.2.2
rich==13.9.4
asttokens==3.0.0
google-resumable-media==2.7.2
kiwisolver==1.4.9
tqdm==4.67.1
openapi-core==0.19.5
durationpy==0.10
opentelemetry-exporter-otlp-proto-common==1.37.0
google-auth-httplib2==0.2.0
pandocfilters==1.5.1
prometheus_client==0.22.1
readchar==4.0.5
google-auth-oauthlib==1.2.2
jsonpatch==1.33
typing-inspection==0.4.0
jsonpointer==3.0.0
tzdata==2025.2
ipython_pygments_lexers==1.1.1
appnope==0.1.4
dnspython==2.8.0
grpcio-status==1.71.2
openapi-schema-validator==0.6.3
pkginfo==1.12.1.2
dulwich==0.24.1
uritemplate==4.2.0
lark==1.2.2
anaconda-cli-base==0.5.2
certifi==2025.8.3
anthropic==0.67.0
prompt_toolkit==3.0.52
email-validator==2.3.0
parso==0.8.5
httpcore==1.0.9
greenlet==3.2.4
decorator==5.2.1
rpds-py==0.27.1
openai==1.99.9
SpeechRecognition==3.14.3
markdown-it-py==2.2.0
msgpack==1.1.1
pydantic-settings==2.6.1
cffi==1.17.1
ipykernel==6.30.1
fastuuid==0.12.0
nbformat==5.10.4
jupyterlab_widgets==3.0.15
pyperclip==1.9.0
yarl==1.20.1
beautifulsoup4==4.13.5
pyasn1==0.6.1
jsonschema-path==0.3.4
findpython==0.7.0
stack_data==0.6.3
regex==2025.9.1
httpx-sse==0.4.1
tomlkit==0.13.3
python-dotenv==1.1.0
tornado==6.5.2
sympy==1.14.0
PyJWT==2.10.1
jsonschema==4.25.1
xlrd==2.0.2
pathspec==0.12.1
poetry==2.2.0
multiprocess==0.70.16
mcp==1.14.0
pycparser==2.21
hf-xet==1.1.10
opentelemetry-sdk==1.37.0
xxhash==3.5.0
isodate==0.7.2
nbconvert==7.16.6
referencing==0.36.2
conda-content-trust==0.2.0
pathable==0.4.4
jmespath==1.0.1
wrapt==1.17.3
bidict==0.23.1
ipython==9.5.0
xlsxwriter==3.2.8
Send2Trash==1.8.3
httpx-aiohttp==0.1.8
tree-sitter-language-pack==0.7.3
google-crc32c==1.7.1
nbclient==0.10.2
h11==0.16.0
gitdb==4.0.12
Deprecated==1.2.18
sniffio==1.3.1
huggingface-hub==0.34.4
psutil==7.0.0
rsa==4.9.1
uvicorn==0.35.0
google-cloud-storage==2.19.0
pbs-installer==2025.9.2
standard-aifc==3.13.0
shapely==2.1.1
networkx==3.5
python-dateutil==2.9.0.post0
mpmath==1.3.0
grpc-google-iam-v1==0.14.2
jupyterlab_pygments==0.3.0
soupsieve==2.8
conda-anaconda-tos==0.2.2
rfc3987-syntax==1.1.0
mccabe==0.7.0
pytest==8.4.2
wcwidth==0.2.13
debugpy==1.8.16
brotlicffi==1.0.9.2
pyee==13.0.0
html2text==2025.4.15
cobble==0.1.4
scantree==0.0.4
grep-ast==0.9.0
tree-sitter==0.24.0
binaryornot==0.4.4
antlr4-python3-runtime==4.9.3
chardet==5.2.0
sentry-sdk==2.39.0
pdfminer.six==20250506
types-python-dateutil==2.9.0.20250822
google-cloud-aiplatform==1.113.0
jupyter-events==0.12.0
openapi-spec-validator==0.7.2
conda-libmamba-solver==25.4.0
lazy-object-proxy==1.12.0
aiosignal==1.4.0
menuinst==2.3.1
pycosat==0.6.6
botocore==1.40.30
fastjsonschema==2.21.2
click==8.2.1
platformdirs==4.3.7
packaging==25.0
fsspec==2025.9.0
argon2-cffi==25.1.0
jupyter_server==2.17.0
Authlib==1.6.3
webcolors==24.11.1
pyflakes==3.4.0
cycler==0.12.1
idna==3.7
docutils==0.22
jaraco.functools==4.1.0
Jinja2==3.1.6
fastmcp==2.12.3
wheel==0.45.1
flake8==7.3.0
pluggy==1.5.0
httplib2==0.31.0
argon2-cffi-bindings==25.1.0
matplotlib==3.10.6
poetry-core==2.2.0
google-cloud-resource-manager==1.14.2
python-multipart==0.0.20
google-api-core==2.25.1
transformers==4.56.2
dill==0.4.0
pure_eval==0.2.3
pydantic==2.11.7
archspec==0.2.3
pip==25.1
distro==1.9.0
termcolor==3.1.0
cloudpickle==3.1.1
cryptography==45.0.5
jiter==0.10.0
opentelemetry-proto==1.37.0
bashlex==0.18
python-docx==1.2.0
rfc3986-validator==0.1.1
sse-starlette==2.4.1
aiohappyeyeballs==2.6.1
python-json-logger==3.3.0
terminado==0.18.1
websockets==15.0.1
jaraco.context==0.0.0
requests-toolbelt==1.0.0
tree-sitter-c-sharp==0.23.1
docker==7.1.0
memory-profiler==0.61.0
opentelemetry-api==1.37.0
einops==0.8.1
typing_extensions==4.12.2
installer==0.7.0
PyYAML==6.0.2
httpx==0.28.1
matplotlib-inline==0.1.7
smmap==5.0.2
dirhash==0.5.0
importlib_metadata==8.7.0
RapidFuzz==3.14.1
pillow==11.3.0
QtPy==2.4.3
pyasn1_modules==0.4.2
opentelemetry-semantic-conventions==0.58b0
google-auth==2.40.3
trove-classifiers==2025.9.11.17
more-itertools==10.3.0
conda-package-handling==2.4.0
jupyter_server_terminals==0.5.3
xattr==1.2.0
audioop-lts==0.2.2
tree-sitter-yaml==0.7.1
bleach==6.2.0
pyproject_hooks==1.2.0
openhands-aci==0.3.2
types-toml==0.10.8.20240310
iniconfig==2.1.0
libcst==1.5.0
pythonnet==3.0.5
joblib==1.5.2
zipp==3.23.0
wsproto==1.2.0
PyPDF2==3.0.1
safetensors==0.6.2
browsergym-core==0.13.3
python-socketio==5.13.0
datasets==4.1.1
pylatexenc==2.10
qtconsole==5.7.0
widgetsnbextension==4.0.14
playwright==1.55.0
omegaconf==2.3.0
cachetools==5.5.2
pandas==2.3.2
six==1.17.0
pypdf==6.0.0
rich-rst==1.3.1
requests-oauthlib==2.0.0
proto-plus==1.26.1
mistune==3.1.4
pyzmq==27.1.0
starlette==0.47.3
ruamel.yaml==0.18.10
python-frontmatter==1.1.0
json_repair==0.50.1
frozenlist==1.7.0
jupyter-kernel-gateway==3.0.1
virtualenv==20.34.0
tiktoken==0.11.0
cleo==2.1.0
opentelemetry-exporter-otlp-proto-grpc==1.37.0
openapi-pydantic==0.5.1
setuptools==78.1.1
parse==1.20.2
comm==0.2.3
websocket-client==1.8.0
MarkupSafe==3.0.2
cmu-llms-hw2==2024.1.3
